app/1.Middleware/Trade_LC/Trade_LC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://smubank.smu.edu.sg/schemas/TF/LC" xmlns:ns4="Trade_BOE_Update-Response" xmlns:ns="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:ns3="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:tns="http://smubank.smu.edu.sg/Trade/LC" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smubank.smu.edu.sg/Trade/LC">
    <import namespace="http://smubank.smu.edu.sg/schemas/serviceRequestMessage/" location="Schemas/ServiceReqMessage.xsd"/>
    <import namespace="http://smubank.smu.edu.sg/schemas/TF/LC" location="Schemas/LetterOfCredit.xsd"/>
    <import namespace="http://smubank.smu.edu.sg/schemas/serviceResponseHeader" location="Schemas/ServiceRespHeader.xsd"/>
    <message name="Trade_LC_Create-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_LC_Create-Request" type="ns2:Trade_LC_Create-Request"/>
    </message>
    <message name="Trade_LC_Create-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_LC_Create-Response" type="ns2:Trade_LC_Create-Response"/>
    </message>
    <message name="Trade_LC_Update-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_LC_Update-Request" type="ns2:Trade_LC_Update-Request"/>
    </message>
    <message name="Trade_LC_Update-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_LC_Update-Response" type="ns2:Trade_LC_Update-Response"/>
    </message>
    <message name="Trade_LC_Read-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_LC_Read-Request" type="ns2:Trade_LC_Read-Request"/>
    </message>
    <message name="Trade_LC_Read-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_LC_Read-Response" type="ns2:Trade_LC_Read-Response"/>
    </message>
    <message name="Trade_LCList_Read-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_LCList_Read-Request" type="ns2:Trade_LCList_Read-Request"/>
    </message>
    <message name="Trade_LCList_Read-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_LCList_Read-Response" type="ns2:Trade_LCList_Read-Response"/>
    </message>
    <message name="Trade_LCStatus_Update-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_LCStatus_Update-Request" type="ns2:Trade_LCStatus_Update-Request"/>
    </message>
    <message name="Trade_LCStatus_Update-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_LCStatus_Update-Response" type="ns2:Trade_LCStatus_Update-Response"/>
    </message>
    <message name="Trade_Amendments_Read-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_Amendments_Read-Request" type="ns2:Trade_Amendments_Read-Request"/>
    </message>
    <message name="Trade_Amendments_Read-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_Amendments_Read-Response" type="ns2:Trade_Amendments_Update-Response"/>
    </message>
    <message name="Trade_Amendments_Update-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_Amendments_Update-Request" type="ns2:Trade_Amendments_Update-Request"/>
    </message>
    <message name="Trade_Amendments_Update-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_BOL_Read-Request" type="ns2:Trade_LC_Update-Response"/>
    </message>
    <message name="Trade_BOL_Read-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_BOL_Read-Request" type="ns2:Trade_BOL_Read-Request"/>
    </message>
    <message name="Trade_BOL_Read-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_BOL_Read-Response" type="ns2:Trade_BOL_Read-Response"/>
    </message>
    <message name="Trade_BOL_Update-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_BOL_Update-Request" type="ns2:Trade_BOL_Update-Request"/>
    </message>
    <message name="Trade_BOL_Update-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_BOL_Update-Response" type="ns2:Trade_BOL_Update-Response"/>
    </message>
    <message name="Trade_BOE_Read-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_BOE_Read-Request" type="ns2:Trade_BOE_Read-Request"/>
    </message>
    <message name="Trade_BOE_Read-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_BOE_Read-Response" type="ns2:Trade_BOE_Read-Response"/>
    </message>
    <message name="Trade_BOE_Update-Input">
        <part name="ServiceReqHeader" type="ns:ServiceReqHeader"/>
        <part name="Trade_BOE_Update-Request" type="ns2:Trade_BOE_Update-Request"/>
    </message>
    <message name="Trade_BOE_Update-Output">
        <part name="ServiceRespHeader" type="ns3:ServiceRespHeader"/>
        <part name="Trade_BOE_Update-Response" type="ns2:Trade_BOE_Update-Response"/>
    </message>
    <portType name="Trade_LC_Update-Output">
        <operation name="Trade_LC_Create">
            <input message="tns:Trade_LC_Create-Input"/>
            <output message="tns:Trade_LC_Create-Output"/>
        </operation>
        <operation name="Trade_LC_Update">
            <input message="tns:Trade_LC_Update-Input"/>
            <output message="tns:Trade_LC_Update-Output"/>
        </operation>
        <operation name="Trade_LC_Read">
            <input message="tns:Trade_LC_Read-Input"/>
            <output message="tns:Trade_LC_Read-Output"/>
        </operation>
        <operation name="Trade_LCList_Read">
            <input message="tns:Trade_LCList_Read-Input"/>
            <output message="tns:Trade_LCList_Read-Output"/>
        </operation>
        <operation name="Trade_LCStatus_Update">
            <input/>
            <output message="tns:Trade_LCStatus_Update-Output"/>
        </operation>
        <operation name="Trade_LC_Create_BC">
            <input message="tns:Trade_LC_Create-Input"/>
            <output message="tns:Trade_LC_Create-Output"/>
        </operation>
        <operation name="Trade_LC_Read_BC">
            <input message="tns:Trade_LC_Read-Input"/>
            <output message="tns:Trade_LC_Read-Output"/>
        </operation>
        <operation name="Trade_LC_Update_BC">
            <input message="tns:Trade_LC_Update-Input"/>
            <output message="tns:Trade_LC_Update-Output"/>
        </operation>
        <operation name="Trade_LCList_Read_BC">
            <input message="tns:Trade_LCList_Read-Input"/>
            <output message="tns:Trade_LCList_Read-Output"/>
        </operation>
        <operation name="Trade_LCStatus_Update_BC">
            <input message="tns:Trade_LCStatus_Update-Input"/>
            <output message="tns:Trade_LCStatus_Update-Output"/>
        </operation>
        <operation name="Trade_Amendments_Read_BC">
            <input message="tns:Trade_Amendments_Read-Input"/>
            <output message="tns:Trade_Amendments_Read-Output"/>
        </operation>
        <operation name="Trade_BOE_Read_BC">
            <input message="tns:Trade_BOE_Read-Input"/>
            <output message="tns:Trade_BOE_Read-Output"/>
        </operation>
        <operation name="Trade_BOL_Read_BC">
            <input message="tns:Trade_BOL_Read-Input"/>
            <output message="tns:Trade_BOL_Read-Output"/>
        </operation>
    </portType>
</definitions>